<!DOCTYPE html>
<html>
<head>
	<title>Conacts</title>
</head>
<body>
<h2>Контакты</h2>
<p>Телефоны адреса..</p>

<form action="/contacts" method="POST">
  	<div class="form-group">
    <input type="email" class="form-control" name="email" placeholder="Email">
	</div>
	<div class="form-group">		
	<textarea  class="form-control" name="message" rows="3" placeholder="Type message.."></textarea>
	</div>
	<button type="submit" class="btn btn-primary">Yarrrr!</button>
</form>

</body>
</html>