<!DOCTYPE html>
<html>
<head>
	<title>visits</title>
</head>
<body>
<p> <%= @welcomecustomer %></p>
<p>Записаться на приём</p>
<form action="/visits" method="POST">
  <div class="form-group">
    <label>Ваше имя</label>
    <input type="text" name="username" class="form-control" placeholder="Введите ваше имя">
  </div>

  <div class="form-group">
    <label>Номер телефона</label>
    <input type="text" name="phonenumber" class="form-control" placeholder="Введите ваш номер телефона">
  </div>

  <div class="form-group">
    <label>Время записи</label>
    <input type="text" name="datatime" class="form-control" placeholder="Введите время записи">
  </div>

<div>
<label>Выбирите специалиста: </label>
<select class="form-control" name="spec">
  <option>Jessie Pinkman</option>
  <option>Walter White</option>
  <option>Gus Fring</option>
</select>
 
</div>

<br>
  <button type="submit" class="btn btn-primary">Записаться</button>
</form>
</body>
</html>